<div #galleryContainer class="galleryContainer">
    <div class="innerGalleryContainer">
        <div *ngFor='let imgrow of gallery; let i = index'
             class="imagerow"
             [style.margin-bottom.px]="calcImageMargin()">
          <div class="hover" *ngFor='let img of imgrow; let j = index'>
            <img #imageElement
                 class="thumbnail"
                 [style.width.px]="img['width']"
                 [style.height.px]="img['height']"
                 (click)="openImageViewer(img)"
                 [src]="img['srcAfterFocus']"
                 [style.margin-right.px]="calcImageMargin()"
                  [class.filter] = "img['blurFilter']"/>
            <div class="caption">
              <div class="likes left">{{img['numOfLikes']}}</div>
              <i class="material-icons heart likes left">favorite</i>
              <img [src]="countdown" #countdownContainer class="countdown right" style="color: white"/>
            </div>
          </div>
        </div>
    </div>
</div>

<photo-viewer [images]="images" (removed)="removedImage($event)"></photo-viewer>
