/* Image gallery */

.innerGalleryContainer {
    position: relative;
}

.galleryContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.galleryContainer img:last-child {
    /* important to overwrite inline css and prevent chrome flickering bug */
    margin-right: -1px !important;
}

.galleryContainer .hover{
  width: auto;
  position: relative;
}

.galleryContainer .hover .caption{
  position: absolute;
  bottom: 6.5px;
  right: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: .5s ease;
}

.galleryContainer .hover .caption .likes{
  opacity: 1;
  color: white;
}

.galleryContainer .hover .caption .heart{
  opacity: 1;
  color: red;
}

.galleryContainer .hover:hover .caption{
    height: 30px;
    cursor: pointer;
}

.imagerow {
    overflow: hidden;
    display: flex;
}

::-webkit-scrollbar {
    display: none;
}

.asyncLoadingContainer {
    position: absolute;
    background-color: transparent;
    height: 0px;
    width: 0px;
    bottom: 120px;
}
.thumbnail{
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
}
.thumbnail.filter{
  filter: blur(5px);
}
.countdown{
  margin-top: 5px;
  padding-right: 5px;
  height: 15px;
  width: 15px;
}

.likes{
  margin: 3px;
}




