<a materialize="dropdown" class='right' data-activates='dropdownuser'>
  <img class="circle center-align" [src]="avatar" width="50" height="50">
</a>
<ul id='dropdownuser' class='dropdown-content'>
  <li><a routerLink="/profile">Profile</a></li>
  <li class="divider"></li>
  <li><a (click)="logout()">Log out</a></li>
</ul>
