img{
  height: 50px;
  width: 50px;
}

a:hover{
  background-color: transparent;
}

img:hover{
  background-color: transparent;
}

.dropdown-content{
  background-color: #000000;
}

.dropdown-content a{
  color: #999999;
}

.dropdown-content li:hover{
  background-color: #e17a2d
}

.dropdown-content li:hover a{
  color: #000000;
}

.divider{
  background-color: #999999;
}
