<div class="modal-header">
  <div class="row">
    <div class="col s12">
      <ul materialize="tabs" class="tabs">
        <li class="tab col s6"><a class="active first" href="#test1">Log in</a></li>
        <li class="tab col s6"><a href="#test2">Sign up</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div id="test1" class="col s12">
    <log-in (closeClicked)="closeModal()"></log-in>
  </div>
  <div id="test2" class="col s12">
    <sign-up (closeClicked)="closeModal()"></sign-up>
  </div>
</div>

