.close{
  border: 0;
  background-color: rgb(250,250,250);
  color: rgb(158,158,158);
}

.title{
  color: rgb(158,158,158);
}

input{
  color: #000000;
}

.first{
  border-right: 1px solid #000000;
}

.tabs{
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #000000;
}

.tabs a{
  color: #010000;
}

.tabs a .active{
  border-color: #393845;
}

.modal-footer{
  background-color: white;
}
