<span class="label-mini right">Order photos by:</span>
<div id='order' class='dropdown-button btn-flat right text-center label' data-activates='dropdown1'>{{orderFilter}}</div>
<ul id='dropdown1' class='dropdown-content'>
  <li><a (click)="changeDropdown('Less time')">Less time</a></li>
  <li class="divider"></li>
  <li><a (click)="changeDropdown('More time')">More time</a></li>
  <li class="divider"></li>
  <li><a (click)="changeDropdown('Popularity')">Popularity</a></li>
  <li class="divider"></li>
  <li><a (click)="changeDropdown('Near you')">Near you</a></li>
  <li class="divider"></li>
  <li><a (click)="changeDropdown('Random')">Random</a></li>
</ul>


