.label{
  color: #999999;
  margin-top: 5px;
  border: 1px solid #999999;
}

.text{
  padding-bottom: 5px;
}

.label-mini{
  color: #999999;
  margin-right: 5px;
}

.dropdown-content{
  background-color: #000000;
}

.dropdown-content a{
  color: #999999;
}

.dropdown-content li:hover{
  background-color: #e17a2d
}

.dropdown-content li:hover a{
  color: #000000;
}

.divider{
  background-color: #999999;
}
@media (max-width: 768px) {
  .label-mini{
    margin-right: 0;
  }
  .label{
    padding: 0;
  }
}
