<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h6 class="center">Efimerum © 2017 Copyright</h6>
        </div>
      </div>
    </div>
  </div>
</footer>
