.label{
  color: #999999;
  margin-top: 5px;
  margin-right: 10px;
  height: auto;
  width: auto;
  border: 1px solid #999999;
}

.label:hover{
  background-color: transparent;
  cursor: default;
}

.label-mini{
  color: #999999;
}

.reload{
  color: #999999;
  margin-top: 26px;
  padding: 0;
  margin-right: 10px;
  height: 36px;
  width: 30px;
  border: 1px solid #999999;
}


