<div class="row">
  <div class="col s12 m12 l6">
    <search-box [labels]="labels"></search-box>
  </div>
  <div class="col s6 m3 l2">
      <span class="right label-mini"> Showing photos of:</span>
      <span id="label" class="btn-flat right label">{{ actualLabel }}</span>
  </div>

  <div class="col s6 m3 l3">
    <order-dropdown></order-dropdown>
  </div>
  <div class="col s1 m1 l1">
    <div class='dropdown-button btn-flat right center reload' (click)="reloadData()"><i class="material-icons">autorenew</i></div>
  </div>
</div>
<div>
  <photo-gallery [images]="images | searchByTag: filter" (viewerRemovedImage)="removedItem($event)"></photo-gallery>
</div>
<div *ngIf="loading" class="row">
  <div class="col s12 center">
    <div class="preloader-wrapper active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>



