.avatar{
  margin-top: 100px;
  margin-left: 30px;
}

#likes{
  margin-top: 10px;
}

#photos{
  margin-top: 10px;
}

.tabs{
  background-color: #000000;
}

.tabs a{
  color: #e17a2d;
}

h5{
  color: #e17a2d;
}
