<div  *ngIf="log" class="col s12" style="background-color: #000000">
  <div class="row" style="background-color: #000000">
    <div class="col s12">
      <div class="row">
        <div class="col offset-s5 s2 offset-m5 m2 offset-l5 l2">
          <img class="circle avatar" [src]="avatarImage" width="100px" height="100px">
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h5 class="center">{{name}}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="background-image: url(assets/wallpaper.jpg)">
    <div class="col s12">
      <ul materialize="tabs" class="tabs">
        <li class="tab col s6"><a class="active" href="#likes">Photos that I like</a></li>
        <li class="tab col s6"><a href="#photos">My photos</a></li>
      </ul>
    </div>
    <div id="likes" class="col s12">
      <photo-gallery [images]="likes"></photo-gallery>
    </div>
    <div id="photos" class="col s12">
      <photo-gallery [images]="photos"></photo-gallery>
    </div>
  </div>
</div>

<div id="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <login-signup (close)="closeModal($event)"></login-signup>
  </div>
</div>



