.close{
  border: 0;
  background-color: white;
  color: rgb(158,158,158);
}

.close i{
  background-color: white;
}

.title{
  color: rgb(158,158,158);
}

h6{
  color: black;
}

.modal-footer{
  background-color: white;
}
