<div class="modal-header">
  <button type="button" class="close right" (click)="closeModal()"><i class="material-icons">close</i></button>
  <h4 class="title">Cerrar Sesión</h4>
</div>
<h6>Are you sure to log out?</h6>
<div class="modal-footer">
  <button type="submit" class="btn btn-default" (click)="logout()">Log out</button>
</div>
