<form materialize #form="ngForm">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control validate" id="email" data-error="Incorrect Email" data-success="Success" placeholder="Email" [(ngModel)]="form.email" name="email" #email="ngModel" required>
  </div>
  <div class="form-group">
    <label for="pwd">Password</label>
    <input type="password" minlength="6" class="form-control validate" id="pwd" data-error="Incorrect Password" data-success="Success" placeholder="Password" [(ngModel)]="form.pwd" name="pwd" #pwd="ngModel" required>
  </div>
  <div *ngIf="failed" class="row">
    <div class="col s12">
      <div class="error">
        <h6 class="error-text"><p>{{err.message}}</p></h6>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid" (click)="login(form)" data-dismiss="modal">Log in</button>
    <button type="button" class="btn red" (click)="closeModal()">Cancel</button>
  </div>
</form>
