<div>
  <i class="material-icons" (click)="showSearchInput($event)">search</i>

  <input
    auto-complete
    type="search"
    placeholder="Search by tags"
    [source]="labels"
    (valueChanged)="filterGallery($event)"
    [@searchinput]="searchInputAnimationState"
    (keyup)="notifySearch($event)"/>
</div>
