div {
    position: relative;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}

i {
  position: absolute;
  top: 24px;
  left: 2px;
  font-size: 2em;
  color: #000000;
  background-color: #999999;
  border: 1px solid #000000;
}

i:hover {
    cursor: pointer;
}

input {
    position: absolute;
    top: 14px;
    left: 34px;
    border: 0;
    outline: 0;
    margin: 0;
    height: 31px;
    width: 80%;
    color: #000000;
    border: 1px solid #000000;

}

input:focus {
    border: 0;
}

.dropdown-content li span{
  width: 159px;
}
