<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper nav-header">
        <img *hideItBootstrap="['sm','xs']" src="../assets/flame.png" alt="Logo Efimerum" class="left" width="auto" height="50px" style="margin: 5px;">
        <a routerLink="/photos" class="brand-logo left">Efimerum</a>
        <ul id="nav-mobile" class="right">
          <li *ngIf="!token"><a (click)="openModal()">Log in</a></li>
          <li *ngIf="token"><user-dropdown (logoutClicked)="openModal()"></user-dropdown></li>
          <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
            <div class="modal-content">
              <login-signup *ngIf="!token" (close)="closeModal()"></login-signup>
              <log-out *ngIf="token" (close)="closeModal()"></log-out>
            </div>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</header>
