<form materialize #for="ngForm">
  <div class="form-group">
    <label for="name">Your Name</label>
    <input type="text" class="form-control validate" id="name" data-error="Incorrect Name" data-success="Success" placeholder="Name" [(ngModel)]="for.name" name="name" #name="ngModel" required>
  </div>
  <div class="form-group">
    <label for="mail">Email address</label>
    <input type="email" class="form-control validate" id="mail" data-error="Incorrect Email" data-success="Success" placeholder="Email" [(ngModel)]="for.mail" name="mail" #mail="ngModel" required>
  </div>
  <div class="form-group">
    <label for="pass">Password</label>
    <input type="password" minlength="6" class="form-control validate" id="pass" data-error="Incorrect Password" data-success="Success" placeholder="Password" [(ngModel)]="for.pass" name="pass" #pass="ngModel" required>
  </div>
  <div *ngIf="failedSign" class="row">
    <div class="col s12">
      <div class="error">
        <h6 class="error-text"><p>{{err.message}}</p></h6>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!for.form.valid" (click)="signUp(for)" data-dismiss="modal">Sign up</button>
    <button type="button" class="btn btn-danger red" (click)="closeModal()">Cancel</button>
  </div>
</form>
