.close{
  border: 0;
  background-color: rgb(250,250,250);
  color: rgb(158,158,158);
}

.title{
  color: rgb(158,158,158);
}

input{
  color: #000000;
}

.first{
  border-right: 1px solid #000000;
}

.tabs{
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #000000;
}

.tabs a{
  color: #010000;
}

.tabs a .active{
  border-color: #393845;
}

.modal-footer{
  background-color: #fafafa;
}

.error{
  width: 100%;
  height: 49px;
  background-color: rgba(229,41,41,0.8);
}

.error-text{
  color: #000000;
  padding-top: 2px;
}

.modal-footer .btn{
  margin: 6px 10px 0 0;

}
.modal-footer .btn-large{
  margin: 6px 10px 0 0;
}
.modal-footer .btn-flat{
  margin: 6px 10px 0 0;
}
